<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<form method="post">
		<input type="email" placeholder="Email" name="username" />
		<input type="password" placeholder="Password" name="password" />
		<button>Login</button>
	</form>

</body>

</html>